@charset "UTF-8";

#logo {
    margin-bottom: 10px;
    
}

header {
    flex-flow: column nowrap;
    align-items: initial;
    
    
}

.nav {
    display: none;
    flex-flow: column nowrap;
    align-items: initial;
    flex-basis: 300px;  
    
}

.nav a {
    /*border: 2px dotted rgb(0, 139, 46);*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#burger {
    border: 2px dotted yellow;
    display: block;
    font-size: 40px;
    flex-basis: 40px;  
    color: white;
    align-items: center;
    

}

#burger:hover {
    color: #9AACE1;
    transition: .2s;
    cursor: pointer;

}

.logo-burger {
    /*border: 2px dotted yellowgreen;*/
    display: flex;
    justify-content: space-between;
    
}

