@charset "UTF-8";

:root {
    --colorfundo: #002DBD;
    --colortxtbranco: #FFFFFF;
}

/*Inicio Header*/

header {
    /*border: 3px dotted black;*/
    background-color: var(--colorfundo);
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    

}

#logo {
   /*border: 3px dotted yellow;*/
    width: 200px;
    height: auto;
    margin-left: 20px;
    
}

.nav {
    /*border: 2px dotted black;*/
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: initial;
    
    
}


.nav a {
    color: var(--colortxtbranco);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    

}

.nav > a:hover {
    color: #9AACE1;
    transition: .1s;
   

}

#burger {
   display: none;

}

#contatoPrincipal {
    border: 2px dotted black;
    background-color: var(--colorfundo);
    display: flex;
}

#contatoFormulario {
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    

}

#contatoFormulario >h1 {
    color: white;
    font-size: 32px;
    padding-bottom: 30px;
}

#fotohomen {
    border: 2px dotted black;
}

#formulario {
    border: 2px dotted black;
}

#inputcontato {
    border-radius: 50px;
    border: 1px solid #A9B4C5;
    height: 40px;
    width: 200px;
    text-decoration: none;
}